.background {
    font-family: sans-serif;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dialog {
    margin: 2em;
    width: 30em;
    gap: 20px;
    padding: 1em 2em;
    border-radius: 5px;
    background:  #fff;
    position: relative;
    height: auto;
    min-height: fit-content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-weight: bold;
    z-index: 5;
}